@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

html {
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/* Header styles */
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(160%);
    transition: ease .5s;
    overflow:hidden;
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(40%);
}

.open .nav::before {
    opacity: 1;
    transform: scale(1);
}



.nav-link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}

.nav-link:hover {
    color: var(--secondary-font-color);
}

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    background: url("../images/Menu-hero.png") center no-repeat;
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    align-items: center;
    text-align: center;
}

.sub-headline {
    font-size: 8.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .5s;
}

.first-letter {
    text-transform: uppercase;
    font-size: 10.3rem;
}

.headline {
    color: #fff;
    font-size: 3.7rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    animation: scale .5s forwards;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: #fff;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.line-right::before,
.line-left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow 1.5s forwards;
    animation-delay: 1.2s;
}

.line-right::before {
    border-right-color: #fff;
    right: 0;
}

.line-left::before {
    border-left-color: #fff;
    left: 0;
}

.asterisk {
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s;
}

.single-animation {
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}













/* MENU */

.best-seller{
    background-color: red;
    color: white;
    padding: 2px;
    font-size: 13px;
    border-radius: 8px;
    margin-left: 2%;
}
.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: var(--body-font);
    font-weight: 600;
    color: #c59d5f;
    text-align: center;
    margin-top: 4vh;
    font-size: 2.5em;
    margin-bottom: 4vh;
    
   
}

.content-section {
    margin: 0.5em;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}



.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: black;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--secondary-font-color);
}


.shop-item {
    margin: 15px;
}
.app-title{
    font-size: 2em !important;
}
.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    color: black;
    font-family: var(--body-font);
    margin-bottom: 15px;
}

.shop-item-image {
    height: 180px;
    width: 319px;;
    border: 4px black solid;
    border-radius: 10px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
    font-size: 15px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.car{
    border: 6px black solid;
    margin-bottom: 10vh;
    padding: 5px;
}

.cart-row {
    display: flex;
    flex: 25%;
}

.cart-item {
    width: 45%;
    font-size: 1.6em;
}

.cart-price {
    width: 20%;
    font-size: 1.6em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.6em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}


/* FOOTER */

footer {
    padding: 7.9rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}

.back-to-top {
    width: 7rem;
    height: 7rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i {
    display: block;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    animation: up 2s infinite;
}

.footer-content {
    overflow: hidden;
}

.footer-content h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .asterisk {
    margin: 2.4rem 0;
}

.footer-content-about {
    margin-bottom: 5.4rem;
}

.footer-content-about p {
    line-height: 2;
}

.social-icons {
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color: #fff;
    padding: .8rem 2rem;
    opacity: .5;
    transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus {
    color: var(--secondary-font-color);
}

.newsletter-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.newsletter-input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}

.newsletter-btn {
    background-color: transparent;
    border: none;
    color: var(--main-font-color-dark);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10.5rem;
}


#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:black;
    z-index: 5000;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    outline: none;
    cursor: pointer;
    border:none;
}
.fa-shopping-cart{
    color:var(--secondary-font-color);
}
/* MEDIA QUERIES */

@media screen and (max-width:430px){
    .open .nav-list {
        transform: translateX(0%);
    }
   
}
@media screen and (min-width: 1590px){
    .align{
        margin-left: 8vh;
    }
    
}

@media screen and (min-width: 900px) {
    section {
        padding: 7.9rem;
    }
    .shop-item {
        margin: 3px;
    }
    .menu-toggle {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item {
        margin: 0 2.4rem;
        border: none;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-link {
        font-size: 1.3rem;
    }

    .active {
        position: relative;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #000;
        animation: fadeIn 1s;
      }

    .active:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -1.2px;
    }
    .active:hover{
        color: var(--secondary-font-color);
    }
    .sub-headline {
        font-size: 10rem;
    }

    .first-letter {
        font-size: 12.2rem;
    }

    .headline {
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }

    .line {
        max-width: 11.4rem;
    }

    .restaurant-info {
        display: flex;
        align-items: center;
    }

    .restaurant-info > div {
        flex: 1;
    }

    .padding-right {
        padding-right: 7rem;
    }

    .footer-content {
        max-width: 77.5rem;
        margin: auto;
    }

    .footer-content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    .footer-content-divider {
        display: flex;
        justify-content: space-between;
    }

    .social-media,
    .newsletter-form {
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }

    .social-icons i {
        opacity: 1;
    }

    .newsletter-btn {
        margin-left: 7.5rem;
    }
}

@media screen and (min-width:1420px){
    .shop-item {
        margin: 15px;
    }
}
/* ANIMATIONS */
@keyframes fadeUp {
    0% {
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes scale {
    0% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow {
    0% {
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        opacity: 1;
        transform: rotate(-360deg);
    }
}

@keyframes fadeDown {
    0% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes up {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}






#snackbar {
    visibility: hidden;
    width: 250px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    right: 0;
    position: fixed;
    z-index: 1;
    bottom: 12%;
    font-size: 17px;
  }
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
#toast {
    visibility: hidden;
    min-width: 250px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 12%;
    font-size: 17px;
  }
  

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 12%; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 12%; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 12%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 12%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  /* SCROLL BAR EDIT */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background:black;
}
::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background: var(--secondary-font-color);
}
